@mixin primaryButton {
  background-color: $primaryColor;
  color: $white;
}

@mixin invertedButton {
  background-color: $white;
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.btn {
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, border-color 0.15s;

  &.primary {
    @include primaryButton;

    &:hover{
      @include invertedButton;
    }
  }
  &.inverted {
    @include invertedButton;

    &:hover{
      @include primaryButton;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    }
}

@import "@/styles/vars.scss";
