@import "vars.scss";

* {
  font-family: $regularFont;
  font-size: 14px;
}

.avatar{
  border-radius: 50%;
  object-fit: cover;
}


@import "#/fonts/fonts.scss";
@import "@/components/button/button.scss";